.season-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 90px 0 160px;
}

.season-img-left {
  width: 100%;
}

.season-img-right {
  width: 100%;
}

.season-right-text {
  margin-top: -10rem;
  margin-left: 2rem;
}

.season-left-text {
  margin-top: -11rem;
  margin-left: 3rem;
}

.season {
  display: flex;
  justify-content: center;
  align-items: center;
}

.season h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--white);
  font-size: 25px;
  letter-spacing: 6px;
}

@media screen and (max-width: 768px) {
  .season-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 64px;
    width: 100%;
  }

  .season-container img {
    padding: 0px 15px 0 20px;
  }

  .season h4 {
    font-size: 20px;
  }

  .season-right-text {
    margin-top: -9rem;
    margin-left: 3rem;
  }

  .season-left-text {
    margin-top: -8rem;
    margin-left: 3rem;
  }
}
