.season__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 90px 140px 20px 160px;
}

.season__left__box {
  padding-right: 10px;;
}

.season__right__box {
  padding-left: 10px;;
}
.season__right__text {
  margin-top: -10rem;
  margin-left: 2rem;
}

.season__left__text {
  margin-top: -11rem;
  margin-left: 3rem;
}

.season {
  display: flex;
  justify-content: center;
  align-items: center;
}

.season h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--white);
  font-size: 25px;
  letter-spacing: 6px;
} 