:root {
  --button-grey: #cccccc;
  --font-productname: #757575;
}

.products {
  margin-top: 7rem;
}

.products-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products-carousel {
  padding: 35px 106px 0px 106px;
}

.products-carousel button {
  background-color: var(--button-grey);
  width: 40px;
  min-height: 53px;
}

.products-title {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 6px;
}

.product-name {
  font-size: 15px;
}


.product-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #eeeeee;
  padding: 0 0 0 0;
}


.product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-name {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: var(--font-productname);
}

.product-price {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.product-price_x {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: var(--font-productname);
}
