:root {
  --button-grey: #cccccc;
  --font-productname: #757575;
}

.products {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.products-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 32px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 6px;
}

.products-carousel {
  justify-content: center;
}

.products-carousel button {
  background-color: var(--button-grey);
  width: 40px;
  min-height: 53px;
  margin: 0 -40px 0 -40px;
}

.products-title {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 6px;
}

.product-name {
  font-size: 15px;
}

.product-container {
  border: 1px solid #eeeeee;
  margin: 0 5px 0 5px;
  padding: 0;
  height: 400px;
}

.product-extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-info {
  height: 90px;
}

.product-img {
  height: 300px;
  margin: auto;
}

.product-name {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: var(--font-productname);
}

.product-price {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.product-price_x {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: var(--font-productname);
}
