:root {
  --button-grey: #cccccc;
  --font-productname: #757575;
  --hover-carrossel: #444444;
  --heart: #e35151;
  --button-comprar: #824d3e;
  --verao-letter: #666666;
  --off20-color: #ebd7ce;
  --lancamento--color: #824d3e;
}

.products {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 2rem;
  width: 100%;
  padding-bottom: 9rem;
}
.products-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 32px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 6px;
}
.products-carousel {
  justify-content: center;
}
.arrow-carousel:hover {
  background: #444444;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  margin: 0 5px 0 5px;
  padding: 5px;
  max-width: 2350px;
  height: 464px;
  transition: 0.5s;
}

.product-card:hover {
  height: 525px;
}

.product-comprar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin: 0 0 0 0;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.product-comprar {
  margin: 5px;
}

.product-comprar .comprar {
  visibility: hidden;
}

.product-card:hover .product-comprar {
  background-color: var(--button-comprar);
  margin: 10px;
}

.product-card:hover .comprar {
  background-color: var(--button-comprar);
  visibility: visible;
  display: block;
  color: white;
  transition: 0.5s;
}

.product-img {
  max-width: 220px;
  min-width: 220px;
  margin: auto;
}

.product-info {
  margin-top: 11px;
  padding: 0 33px;
}

.product-name {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--font-productname);
}
.product-price {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-top: 5px;
}
.product-price_x {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: var(--font-productname);
}
.product-extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 14px 4px 10px;
}
.product-extras-verao {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  border: 1px solid var(--verao-letter);
  color: var(--verao-letter);
  font-size: 13px;
  padding: 5px;
}
.product-extras-20off {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: var(--off20-color);
  border: 1px solid var(--off20-color);
  font-size: 13px;
  padding: 5px;
}
.product-extras-lancamento {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--lancamento--color);
  border: 1px solid var(--lancamento--color);
  font-size: 13px;
  padding: 5px;
}
.heart {
  color: var(--heart);
  margin: 0 0 0 0;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@media screen and (max-width: 768px) {
  .products {
    max-width: 300px;
    padding-bottom: 1rem;
  }

  .products-title {
    margin-top: -25px;
  }

  .product-img {
    max-width: 150px;
    min-width: 150px;
    margin: auto;
  }

  .product-card {
    height: 400px;
    width: 240px;
    margin-bottom: 50px;
    margin: 0px 0px 0 -127px;
  }
  .product-card:hover {
    height: 460px;
  }

  .products-container {
    margin: 0 -40px 0 -40px;
  }
}
