:root {
  --grey: #444444;
  --white: #ffffff;
  --cart-number: #ebd7ce;
}

.header {
  width: 100%;
  z-index: 100;
  position: fixed;
  background: var(--grey);
  height: 70px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logobox {
  display: flex;
  align-items: center;
}
.header-logobox > h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: var(--white);
  font-size: 25px;
  letter-spacing: 6px;
  margin-left: 11px;
}

.header-logo {
  max-width: 30px;
  max-height: 100%;
}

.header-cart {
  color: var(--white);
  position: relative;
  top: -4px;
  right: -5px;
}

.cart-number {
  position: relative;
  top: 8px;
  right: -30px;
  display: grid;
  justify-content: center;
  background: var(--cart-number);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .header-container {
    max-width: 250;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
